<app-header></app-header>

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-between align-items-center h-100">

        <div class="card mb-3" style="max-width: 540px; min-height: 260px;">
            <div class="row g-0">
                <div class="col-md-5">
                    <img src="../../../assets/ahorcado-home.png" alt="Juego de ahorcado"
                        class="img-fluid rounded-start" />
                </div>
                <div class="col-md-7">
                    <div class="card-body d-flex flex-column justify-content-between h-100">
                        <div>
                            <h4 class="card-title">Ahorcado</h4>
                            <p class="card-text">
                                Adiviná la palabra oculta, una letra a la vez.
                            </p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <a class="btn botones-juegos" href="javascript:void(0);" routerLink="/juegos/ahorcado" data-mdb-ripple-init>Ir a juego</a>
                            <a href="javascript:void(0);" class="btn botones-juegos" routerLink="/juegos/ahorcado/mejores-puntajes" data-mdb-ripple-init>Mejores puntajes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 540px; min-height: 260px;">
            <div class="row g-0">
                <div class="col-md-5">
                    <img src="../../../assets/mayor-o-menor-home.png" alt="cartas" class="img-fluid rounded-start" />
                </div>
                <div class="col-md-7">
                    <div class="card-body d-flex flex-column justify-content-between h-100">
                        <div>
                            <h4 class="card-title">Mayor o menor</h4>
                            <p class="card-text">
                                La próxima carta del mazo, ¿es mayor o menor que la que recién salió?
                            </p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <a class="btn botones-juegos" href="javascript:void(0);" routerLink="/juegos/mayor-o-menor" data-mdb-ripple-init>Ir a juego</a>
                            <a href="javascript:void(0);" class="btn botones-juegos" routerLink="/juegos/mayor-o-menor/mejores-puntajes" data-mdb-ripple-init>Mejores puntajes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 540px; min-height: 260px;">
            <div class="row g-0">
                <div class="col-md-5">
                    <img src="../../../assets/preguntados-home.png" alt="Signo de interrogación"
                        class="img-fluid rounded mx-auto d-block" />
                </div>
                <div class="col-md-7">
                    <div class="card-body d-flex flex-column justify-content-between h-100">
                        <div>
                            <h4 class="card-title">Preguntados</h4>
                            <p class="card-text">
                                ¿Cuántos personajes de Marvel conocés?
                            </p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <a class="btn botones-juegos" href="javascript:void(0);" routerLink="/juegos/preguntados" data-mdb-ripple-init>Ir a juego</a>
                            <a href="javascript:void(0);" class="btn botones-juegos" routerLink="/juegos/preguntados/mejores-puntajes" data-mdb-ripple-init>Mejores puntajes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 540px; min-height: 260px;">
            <div class="row g-0">
                <div class="col-md-5">
                    <img src="../../../assets/codigo-secreto-home.png" alt="Simón dice" class="img-fluid rounded-start" />
                </div>
                <div class="col-md-7">
                    <div class="card-body d-flex flex-column justify-content-between h-100">
                        <div>
                            <h4 class="card-title">Código secreto</h4>
                            <p class="card-text">
                                Intentá descubrir el código secreto para abrir la bóveda.
                            </p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <a class="btn botones-juegos" href="javascript:void(0);" routerLink="/juegos/codigo-secreto" data-mdb-ripple-init>Ir a juego</a>
                            <a href="javascript:void(0);" class="btn botones-juegos" routerLink="/juegos/codigo-secreto/mejores-puntajes" data-mdb-ripple-init>Mejores puntajes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>