<app-header></app-header>

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-between align-items-center h-100">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../assets/ahorcado.png" alt="Juego de ahorcado" class="img-fluid rounded-start" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">Ahorcado</h4>
                        <p class="card-text">
                            Adiviná la palabra oculta, una letra a la vez.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../assets/mayor-o-menor.png" alt="cartas" class="img-fluid rounded-start" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">Mayor o menor</h4>
                        <p class="card-text">
                            La próxima carta del mazo, ¿es mayor o menor que la que recién salió?
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../assets/preguntados.png" alt="Signo de interrogación"
                        class="img-fluid rounded-start" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">Preguntados</h4>
                        <p class="card-text">
                            ¿Cuánto sabés sobre este tema?
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../assets/simon.png" alt="Simón dice" class="img-fluid rounded-start" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">Simón dice</h4>
                        <p class="card-text">
                            Desafiá tu memoria, siguiendo la cadema de colores.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>