<app-header></app-header>

<div id="carousel-sobremi" class="carousel slide d-md-block d-none" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="../../../assets/sobre-mi-1-Yo.png" alt="Dibujo Candela" class="rounded mx-auto d-block">
      <div class="carousel-caption d-none d-md-block texto-carousel">
        <h5>Soy Candela Bogado</h5>
        <p>Estudié Publicidad y trabajé en Diseño Gráfico. Buscando cambiar de trabajo, me metí a un curso de Front End.
          Al año, trabajaba en Sistemas de lleno.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="../../../assets/sobre-mi-2-UTN.png" alt="Logo UTN" class="rounded mx-auto d-block">
      <div class="carousel-caption d-none d-md-block texto-carousel">
        <h5>¿Por qué estudio esto?</h5>
        <p>Estaba aburrida en cuarentena y me pareció una buena idea darle un marco teórico a eso de lo que me hablaban
          en el trabajo.<br>Me falta tan poco que me da pena abandonar.</p>
      </div>
    </div>


    <div class="carousel-item">
      <img src="../../../assets/sobre-mi-3-Simon.png" alt="Simón dice" class="rounded mx-auto d-block">
      <div class="carousel-caption d-none d-md-block texto-carousel">
        <h5>¿Por qué elegí este juego?</h5>
        <p>Me gustaba el juego cuando era chica. Esta y todas sus versiones. Todavía no sé si no lo cambio la semana que
          viene.<br>Plan B: el de descubrir el código secreto.</p>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carousel-sobremi" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#carousel-sobremi" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>


<div class="d-sm-block d-md-none d-lg-none">
  <div>
    <img src="../../../assets/sobre-mi-1-Yo.png" alt="Dibujo Candela" class="w-100 d-block">
    <div class="texto-carousel-sm px-3">
      <h5>Soy Candela Bogado</h5>
      <p>Estudié Publicidad y trabajé en Diseño Gráfico. Buscando cambiar de trabajo, me metí a un curso de Front End.
        Al año, trabajaba en Sistemas de lleno.</p>
    </div>
  </div>


  <div>
    <img src="../../../assets/sobre-mi-2-UTN.png" alt="Logo UTN" class="w-100 d-block">
    <div class="texto-carousel-sm px-3">
      <h5>¿Por qué estudio esto?</h5>
      <p>Estaba aburrida en cuarentena y me pareció una buena idea darle un marco teórico a eso de lo que me hablaban en
        el trabajo.<br>Me falta tan poco que me da pena abandonar.</p>
    </div>
  </div>

  <div>
    <img src="../../../assets/sobre-mi-3-Simon.png" alt="Simón dice" class="w-100 d-block">
    <div class="texto-carousel-sm px-3">
      <h5>¿Por qué elegí este juego?</h5>
      <p>Me gustaba el juego cuando era chica. Esta y todas sus versiones. Todavía no sé si no lo cambio la semana que
        viene.<br>Plan B: el de descubrir el código secreto.</p>
    </div>
  </div>

</div>