<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card gradient-custom text-white" style="border-radius: 1rem">
                    <form #authform="ngForm" (ngSubmit)="onSubmit(authform)">
                        <div class="card-body px-5 py-2 text-center">
                            <div class="mb-4 mt-4">
                                <h2 class="fw-bold mb-2 text-uppercase">
                                    {{ isLogin ? 'Decime quién sos' : 'Registrate para acceder' }}
                                </h2>
                                <p class="text-white-50 mb-4">Ingresá correo y contraseña</p>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <input type="email" id="typeEmailX" class="form-control form-control-lg"
                                        placeholder="usuario@mail.com" ngModel name="email" required email
                                        #emailCtrl="ngModel" />
                                    <label class="form-label" for="typeEmailX">Correo Electrónico</label>
                                </div>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <input type="password" id="typePasswordX" class="form-control form-control-lg"
                                        ngModel name="password" required password #passwordCtrl="ngModel"
                                        minlength="6" />
                                    <label class="form-label" for="typePasswordX">Contraseña</label>
                                </div>

                                <!-- <p class="small mb-5 pb-lg-2" >
                                    <a class="text-white-50" href="javascript:void(0);" *ngIf="isLogin">¿Olvidaste la clave?</a>
                                </p> -->

                                <button data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-outline-light btn-lg px-5" type="submit">
                                    {{ isLogin ? 'Ingresar' : 'Crear usuario' }}
                                </button>
                            </div>

                            <div>
                                <p class="mb-0">
                                    {{ isLogin ? '¿Todavía no tenés una cuenta?' : '¿Ya estás registrado?' }} <br>
                                    <a href="javascript:void(0);" class="text-white-50 fw-bold" (click)="cambiarEntreIngresoYRegistro()">
                                        {{ isLogin ? 'Registro de usuarios nuevos' : 'Usuarios ya registrados' }}
                                    </a>
                                </p>
                            </div>
                        </div>

                        <!-- ACCESO RÁPIDO -->
                        <div class="card-body px-5 text-center">
                            <div class="mb-md-4 mt-md-4">
                                <h2 class="fw-bold mb-2 text-uppercase">
                                    Usuarios regulares
                                </h2>
                                <p class="text-white-50 mb-3">Click en el botón para cargar los valores predefinidos.</p>

                                <div class="container">
                                    <div class="row justify-content-between">
                                        <div class="col columna-avatar">
                                            <button class="boton-avatar" type="button" (click)="loginRapido(authform, 'calavera@mail.com', 'calavera1234')">
                                                <div class="imagen-avatar">
                                                    <img src="../../../assets/avatar-calavera.png" alt="avatar de calavera">
                                                </div>
                                                <p>Calavera</p>
                                            </button>
                                        </div>

                                        <div class="col columna-avatar">
                                            <button class="boton-avatar" type="button" (click)="loginRapido(authform, 'gato@mail.com', 'gato1234')">
                                                <div class="imagen-avatar">
                                                    <img src="../../../assets/avatar-gato.png" alt="avatar de gato">
                                                </div>
                                                <p>Gato</p>
                                            </button>
                                        </div>

                                        <div class="col columna-avatar">
                                            <button class="boton-avatar" type="button" (click)="loginRapido(authform, 'mascara@mail.com', 'mascara1234')">
                                                <div class="imagen-avatar">
                                                    <img src="../../../assets/avatar-mascara.png" alt="avatar de mascara">
                                                </div>
                                                <p>Totem</p>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- FIN ACCESO RÁPIDO -->

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>