.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}


.boton-avatar {
    background-color: transparent;
    border: none;
    color: gainsboro;
}

.imagen-avatar>img {
    max-width: 100px;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .columna-avatar {
        max-width: 80px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .columna-avatar > button {
        max-width: 80px;
        padding-left: 0;
        padding-right: 0;
    }

    .imagen-avatar>img {
        max-width: 80px;
    }
}
