body {
    background-color: #6a11cb;
    background-image: url("./assets/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}